*,
*::before,
*::after {
box-sizing: border-box;
}

body {
font-family: 'Manrope', sans-serif;
color: #FCF9F9;
background-color: #1C2225;
}

a {text-decoration: none;}

li {list-style-type: none;}

h1, h2, h3, h4, h5, h6, p {
margin-top: 0;
margin-bottom: 0;
}

ul, ol {
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
}

img {
display: block;
}

.container { 
width: 375px;
padding: 0 20px;   
margin: 0 auto;  
}

/* Header */

.header{
padding-top: 20px;
}

.nav{
display: flex;
justify-content: space-between;
align-items: center;
}

.box-nav_one{
display: flex;
justify-content: center;
align-items: center;
}

.nav-menu{
display: none;
}

.box-nav_two{
display: flex;
justify-content: center;
align-items: center;
gap: 12px;
}

.address{
display: none;
}

.nav-list{
display: flex;
justify-content: center;
align-items: center;
gap: 12px;
}

.nav-list-item{
width: 44px;
height: 44px;
}

.nav-list-link{
width: 100%;
height: 100%;
border-radius: 15px;
border: 1px solid rgba(252, 249, 249, 0.10);
background: rgba(252, 249, 249, 0.10);
display: flex;
justify-content: center;
align-items: center;
transition-property: border-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-link:hover,
.nav-list-link:focus{
border-color: #ECD979;
}

.menu-open-btn{
width: 36px;
height: 24px;
background-color: transparent;
padding: 0;
cursor: pointer;
border: none;
display: flex;
justify-content: center;
align-items: center;
}

@media screen and (min-width: 768px){

.container {
width: 768px; 
padding: 0 32px;   
}

.box-nav_two{
gap: 20px;
}

.menu-open-btn{
width: 44px;
height: 30px;
}
}

@media screen and (min-width: 1280px){

.container {
width: 1280px; 
padding: 0 100px;   
}

.box-nav_one{
gap: 60px;
}

.nav-menu{
display: flex;
justify-content: center;
align-items: center;
gap: 25px;
}

.nav-item-link_one, 
.nav-item-link{
color: #FCF9F9;
font-size: 14px;
line-height: 1.29; 
text-transform: uppercase;
}

.nav-item-link_one:hover,
.nav-item-link_one:focus{
color: #ECD979;
}

.address{
display: block;
}

.menu-open-btn{
display: none;
}

.address{
width: 193px;
height: 48px;
border-radius: 15px;
border: 1px solid rgba(252, 249, 249, 0.10);
display: flex;
justify-content: center;
align-items: center;

}

.address-link{
color: #FCF9F9;
font-size: 14px;
font-style: normal;
line-height: 1.43;
text-transform: uppercase;
}
}